* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.js eol=lf
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.gitignore export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

*.css linguist-vendored
*.js linguist-vendored
*.sass linguist-vendored

*.php linguist-detectable=true
*.php linguist-language=Php
